<div class="main top-main">
  <div class="top-wrapper">
   <div class="top-message">
    <div class = "about-contents">

      <div class = "about-content">
         <p>終わらない仕事</p>
         <p>なんだか疲れる人間関係</p>
         <p>そこそこ楽しく生きてはいるけれど</p>
         <p>ふとした瞬間、虚しさを感じました。</p>
         <p>"何者にもなれていない自分"に対して。</p>
     </div>

     <div class = "about-content">
         <p>地元の岐阜県に帰省すると</p>
         <p>豊かな自然の中で</p>
         <p>ゆっくり深呼吸ができました。</p>
         <p>家族は、顔を見せるだけで</p>
         <p>喜んでくれました。</p>
         <p>「私は私のままでいいんだ」</p>
     </div>

      <div class = "about-content">
         <p>fugiiiは、がんばるあなたが</p>
         <p>無理しなくても、飾らなくても、</p>
         <p>ちょっぴり元気がでるような、</p>
         <p>少しだけ日常が楽しくなるような</p>
         <p>そんなコンテンツを発信していきます。</p>
      </div>

　　
     <div class = "about-message">
         <h2>全ての人に故郷を</h2>
         <h3>fugiii</h3>
     </div>

   </div>


   </div>
  </div>
</div>
